@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$navy: #34495e;
$blue: #3498db;
$indigo: #9b59b6;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #e74c3c;
$deep-red: #910f21;
$orange: #e67e22;
$yellow: #ffe606;
$green: #62cb31;
$teal: #20c997;
$cyan: #17a2b8;

$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$primary: $navy;
$secondary: $indigo;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;

$body-bg: #f9f9f9;
$body-color: #6a6c6f;

$colors: (
    "navy": $purple,
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "deep-red": $deep-red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-700,
    "gray-light": $gray-300,
    "body": $body-bg,
);

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "error": $danger,
    "light": $light,
    "dark": $dark,
    "transparent": rgba(250, 250, 250, 0),

    "status-green":$green,
    "status-red":$red,
    "status-orange": $orange,
    "status-yellow": $yellow,
    "status-blue": $blue,
    "status-purple": $indigo
);

//$theme-colors: map-merge($theme-colors, $custom-colours);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


$font-size-base: 1rem;

$text-muted: $gray-500;
$border-width: 1px;
$border-color: #dee2e6;
$headings-color: $gray-300;
$card-border-color: $border-color;
$legend-font-size: 0.8rem;

$card-bg: transparent;
$card-cap-bg: transparent;

$table-border-color: $border-color;
$table-cell-padding: 0.75rem !default;
$table-cell-padding-sm: 0.3rem !default;
$table-group-separator-color: $border-color;
$table-bg: transparent !default;
$table-accent-bg: rgba($black, 0.05) !default;
$table-hover-bg: $primary;
$table-hover-color: $white;
$table-active-bg: $table-hover-bg !default;

$table-border-width: $border-width !default;
$table-border-color: $border-color;

$table-head-bg: $gray-200 !default;
$table-head-color: $gray-700 !default;

$table-dark-bg: $primary !default;
$table-dark-accent-bg: rgba($white, 0.05) !default;
$table-dark-hover-bg: rgba($white, 0.075) !default;
$table-dark-border-color: lighten($gray-900, 7.5%) !default;
$table-dark-color: $body-bg !default;

$table-striped-order: odd !default;

$table-caption-color: $text-muted !default;

$input-border-color: $border-color;
$input-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
$input-group-addon-border-color: $gray-300;

$input-placeholder-color: $gray-300;
$input-plaintext-color: $body-color;

$dropdown-border-color: $card-border-color;
$dropdown-header-color:             $gray-400;

$pagination-color: $body-color;
$pagination-disabled-color: $gray-400;

$component-active-color: $white;
$component-active-bg: $primary;

$input-btn-focus-color: rgba($component-active-bg, 0.25);
$input-focus-border-color: lighten($component-active-bg, 25%);
$custom-control-indicator-checked-bg: $component-active-bg;
$custom-control-indicator-active-bg: lighten($component-active-bg, 35%);
$custom-checkbox-indicator-indeterminate-bg: $component-active-bg;
$custom-range-thumb-bg: $component-active-bg;
$custom-range-thumb-active-bg: lighten($component-active-bg, 35%);
$dropdown-link-active-bg: $component-active-bg;
$nav-pills-link-active-bg: $component-active-bg;
$pagination-active-bg: $component-active-bg;
$pagination-active-border-color: $component-active-bg;
$list-group-active-bg: $component-active-bg;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$btn-link-color: $primary;

$nav-link-color:                    $link-color;
$nav-link-hover-color:              $link-hover-color;
//$body-color: $gray-700;

$breadcrumb-padding-y: 0.5rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-item-padding: 0.5rem;

$breadcrumb-margin-bottom: 0;

$breadcrumb-bg: #fff;
$breadcrumb-divider-color: $gray-600;
$breadcrumb-active-color: $gray-500;

$progress-bg: #f5f5f5;

// $menu-width: 180px;
$main-transition: all 0.1s ease-out 0s;

$font-family-icon: "FontAwesome";
$fa-var-check: "\f00c";
$check-icon: $fa-var-check;

$zindex-modal-backdrop: 2040;
$zindex-modal: 2050;
$zindex-popover: 2060;
$zindex-tooltip: 2070;

$modal-content-bg: $body-bg;

$jumbotron-bg: transparent;
$jumbotron-padding: 1rem;

$enable-gradients: true;

$enable-shadows: true;
$box-shadow: 0 0.2rem 0.75rem rgba($black, 0.03);

$table-head-bg: $body-bg;
$table-head-color: lighten($body-color, 20%);

$table-dark-color: $white;
$table-dark-bg: $gray-700;
$table-dark-border-color: lighten($table-dark-bg, 7.5%);
$table-color: $body-color;

$min-contrast-ratio:   2;



$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$utilities-text: map-merge($theme-colors, $utilities-text);
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text");

$utilities-bg: map-merge($theme-colors, $utilities-bg);
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg");